// Color
$color-primary: #c155c5;
$color-primary-light: #d56fd5cc;
$color-primary-dark: #8c28b4cc;

// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-primary: #6255c5;
// $color-primary-light: #7d6fd5cc;
// $color-primary-dark: #3528b4cc;

// $color-primary: #c55555;
// $color-primary-light: #d56f6fcc;
// $color-primary-dark: #b42828cc;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-light-white: #eee;
$color-dark-white: #f7f7f7;
$color-deep: #000;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #101d35;

// Font
$default-font-size: 1.6rem;

// Grid-layout

$grid-width: 114rem;
$gap-vertical: 8rem;
$gap-vertical-small: 6rem;
$gap-horizontal: 6rem;
