$color-primary: #c155c5;
$color-primary-light: #d56fd5cc;
$color-primary-dark: #8c28b4cc;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-light-white: #eee;
$color-dark-white: #f7f7f7;
$color-deep: #000;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// font
$default-font-size: 1.6rem;

// grid-test

$grid-width: 114rem;
$gap-vertical: 8rem;
$gap-vertical-small: 6rem;
$gap-horizontal: 6rem;
