.row {
  max-width: $grid-width;
  margin: 0 auto;
  @include respond(tab-port) {
    max-width: 60rem;
  }
  @include respond(phone) {
    padding: 2rem;
  }
}
.grid {
  display: grid;

  &--gap {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  &--2-cols {
    grid-template-columns: repeat(2, 1fr);
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
  &--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  &--cols {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}
