.header {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/bg22.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // border-radius: 10% 8% 26% / 0% 0% 0% 18%;
  border-radius: 10% 7% 26% / 0% 0% 0% 15%;
  @include respond(tab-port) {
    height: 95vh;
    border-radius: 10% 9% 26% / 0% 0% 0% 13%;
    background-position: center;
  }
  @include respond(phone) {
    border-radius: 10% 21% 26% / 0% 0% 0% 13%;
  }

  &__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
