.composition {
  position: relative;

  &__photo {
    width: 50%;

    box-shadow: 0 1.5rem 4rem rgba($color-deep, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1.5rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 24%;
      box-shadow: 0 1.5rem 3rem rgba($color-deep, 0.4);
    }

    &--p1 {
      top: -4rem;
      left: 14rem;

      @include respond(tab-port) {
        top: 0;
        left: 1rem;
      }
    }
    &--p2 {
      top: 9rem;
      left: 0;

      @include respond(tab-port) {
        top: -2rem;
        left: -2rem;
        z-index: 100;
      }
    }
    &--p3 {
      top: 9rem;
      right: 2rem;

      @include respond(tab-port) {
        top: 1rem;
        right: 3.8rem;
      }
    }
    &--p4 {
      top: 20rem;
      left: 15rem;

      @include respond(tab-port) {
        top: -1rem;
        left: -8rem;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
.about {
  padding-right: 6rem;
  @include respond(tab-land) {
    margin-top: 0;
    padding-left: 3rem;
    padding-right: 0.7rem;
  }
  @include respond(phone) {
    padding: 0.2rem;
  }
}
