.services-box {
  font-size: 1.5rem;
  background: rgba($color-deep, 0.9);
  clip-path: polygon(
    10% 0,
    90% 0%,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
  position: relative;
  transition: all 0.2s;
  @include respond(tab-land) {
    font-size: 1.4rem;
  }
  &:hover,
  &:active {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba($color-deep, 0.2);
    color: $color-deep;
    @include respond(phone) {
      transform: translateY(-0.5rem) scale(1);
    }
  }
  padding: 4.5rem 2.5rem;
  text-align: center;
  color: $color-grey-dark-2;
  @include respond(tab-land) {
    padding: 3rem 1rem;
    margin: 0 0.5rem;
  }
  @include respond(tab-port) {
    font-size: 1.6rem;
    padding: 7rem 3.5rem;
    margin: 0;
  }
  @include respond(phone) {
    font-size: 1.7rem;
    padding: 4rem 2rem;
    margin: 0;
  }

  // color: $color-dark-white;
  &__icon {
    height: 6rem;
    width: 6rem;
    fill: $color-primary;
  }
  &__heading {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-secondary-light;
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -1;
  }
  &:hover::after,
  &:active::after {
    transform: scaleX(1);
  }
}
