.tour {
  &__details {
    padding: 0 2rem 0 2rem;

    background-image: linear-gradient(
      45deg,
      $color-primary-light 10%,
      $color-primary-dark 100%
    );
    background-color: $color-primary-dark;
    background-blend-mode: soft-light;
    position: relative;
    height: 40rem;
    //**************** Responsiveness Start *******************//
    // (max-width) 900px ==> 56.25em
    @include respond(tab-port) {
      float: none;
      width: 100%;
    }
  }
  &__picture {
    height: 40rem;
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
    //**************** Responsiveness Start *******************//
    // (max-width) 900px ==> 56.25em
    @include respond(tab-port) {
      float: none;
      width: 100%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        $color-primary-dark,
        $color-primary-dark
      );
      background-color: $color-primary;
      background-blend-mode: screen;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
    }
    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s ease-in;
    }
  }
  &:hover &__picture::after {
    opacity: 0.2;
    visibility: visible;
  }
  &:hover &__picture--img {
    transform: scale(1.1);
    //**************** Responsiveness Start *******************//
    // (max-width) 600px ==> 37.5em
    @include respond(phone) {
      transform: scale(1);
    }
  }

  &__heading {
    padding: 5rem 0 0 0;
    font-size: 2.8rem;
    font-weight: 700;
    width: 45%;
    text-transform: uppercase;
    color: $color-light-white;

    &-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.7),
          rgba($color-secondary-light, 0.7)
        );
      }
    }
    //**************** Responsiveness Start *******************//
    // (max-width) 600px ==> 37.5em
    @include respond(tab-port) {
      font-size: 2.4rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }
    @include respond(small-phone) {
      font-size: 2rem;
    }
  }
}
